<!-- <nav class="nav nav-tabs">
    <a class="nav-link" role="presentation"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-link" role="presentation" routerLinkActive="active" routerLink="/products">Products</a>
</nav> -->

<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/products">Products</a>
  </li>
</ul>
